// $backgroundColor: url('../images/back.jpg') no-repeat;
$backgroundColor: #ffffff;
$appImage: url('../images/back.jpg') no-repeat;
$color: #ffffff;
$textColor: #1B1F4E;
$headerColor: #E6D7A7;
$fonts: sans-serif, verdana !important;
$margin : 0px;

//positioning 
@mixin Pos($position, $top, $left, $z-index){
	position: $position;
	top: $top;
	left: $left;
	z-index: $z-index;
}

// width and height
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

body{
	background: $backgroundColor;
	color: $color;
	padding: 0;
	margin: 0;
	font-family: $fonts;
}

#App{
    @include Pos(relative, 0px, 0px, 0); 
    @include wh(1024px, 576px); 
   /* border: 1px solid #000000; */
    background: $appImage;
    background-size: 100%;
}

.buttons{
    width: 5%;
    height: 100%;
    margin-right: 17px;
    @include Pos(relative, -190px, 454px, 0); 
    cursor: pointer;
    outline: none;
}

.pictures{
    @include wh(233px, 308px);
    @include Pos(relative, 20px, 0px, 0);
    overflow: hidden;

    img{
        width: 100%;
        height: auto;

    }
}

.textArea{
    @include wh(508px, 181px);
    @include Pos(relative, -138px, 464px, 0); 
    overflow: hidden;
    background: none;

    .textPortion{
        padding: 15px;
        overflow: hidden;
        color: $textColor;
    }
}

.help_Menu {
    @include Pos(absolute, 0px, 0px, 100000);
    @include wh(1024px, 576px);
    /* background: rgba(0, 0, 0, 0.6); */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b1f4e+21,393f7d+38,aa0ce9+55,d4001d+71,ed5901+85,ef9719+98&0.46+0,0.5+100;wmst2 */
    background: -moz-linear-gradient(top, rgba(27, 31, 78, 0.46) 0%, rgba(27, 31, 78, 0.47) 21%, rgba(57, 63, 125, 0.48) 38%, rgba(170, 12, 233, 0.49) 55%, rgba(212, 0, 29, 0.49) 71%, rgba(237, 89, 1, 0.49) 85%, rgba(239, 151, 25, 0.5) 98%, rgba(239, 151, 25, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(27, 31, 78, 0.46) 0%, rgba(27, 31, 78, 0.47) 21%, rgba(57, 63, 125, 0.48) 38%, rgba(170, 12, 233, 0.49) 55%, rgba(212, 0, 29, 0.49) 71%, rgba(237, 89, 1, 0.49) 85%, rgba(239, 151, 25, 0.5) 98%, rgba(239, 151, 25, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(27, 31, 78, 0.46) 0%, rgba(27, 31, 78, 0.47) 21%, rgba(57, 63, 125, 0.48) 38%, rgba(170, 12, 233, 0.49) 55%, rgba(212, 0, 29, 0.49) 71%, rgba(237, 89, 1, 0.49) 85%, rgba(239, 151, 25, 0.5) 98%, rgba(239, 151, 25, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:XImageTransform.Microsoft.gradient( startColorstr='#751b1f4e', endColorstr='#80ef9719', GradientType=0);
    /* IE6-9 */
}

.intro_Button {
    opacity: 1 !important;
    @include Pos(relative, 150px, 220px, 0);
    @include wh(350px, 150px);
    /* background: #4C4C4C; */
    border: none;
    cursor: pointer;
}

.help_Button {
    opacity: 1 !important;
    position: relative;
    @include Pos(relative, -30px, 325px, 0);
    @include wh(400px, 75px);
    /* background: #D4001D; */
    border: none;
    cursor: pointer;
    color: $color;
    font-size: 1.5em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea001f+0,bf0019+100 */
    background: rgb(234, 0, 31);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(234, 0, 31, 1) 0%, rgba(191, 0, 25, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(234, 0, 31, 1) 0%, rgba(191, 0, 25, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(234, 0, 31, 1) 0%, rgba(191, 0, 25, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea001f', endColorstr='#bf0019', GradientType=0);
    /* IE6-9 */
}

.keyboard_Div {
	@include Pos(relative, 76px, 125px, 0);
    @include wh(75%, 400px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#383838+0,111111+100 */
    background: rgb(56, 56, 56);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(56, 56, 56, 1) 0%, rgba(17, 17, 17, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(56, 56, 56, 1) 0%, rgba(17, 17, 17, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(56, 56, 56, 1) 0%, rgba(17, 17, 17, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#111111', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #444444;
    padding: 10px;

    ul li {
    list-style: none;
    color: $color;
    font-size: 1.3em;
    margin-bottom: 6px;
    margin-left: 95px;
    }

    h1 {
    text-align: center;
    color: $color;
    }

    h4 {
    text-align: left;
    color: $color;
    }

    p {
    text-align: center;
    color: $color;
    }
}

.help_Button:hover {
    /*background: #ED5901; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f25a02+0,e25402+100 */
    background: rgb(242, 90, 2);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242, 90, 2, 1) 0%, rgba(226, 84, 2, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242, 90, 2, 1) 0%, rgba(226, 84, 2, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242, 90, 2, 1) 0%, rgba(226, 84, 2, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f25a02', endColorstr='#e25402', GradientType=0);
    /* IE6-9 */
}

.intro_Button:hover {
    background: #636363;
}

.keyButtons {
    background: #111111;
    border-radius: 6px;
    border: 1px solid #A0A0A0;
    padding: 5px;
    font-size: 0.7em !important;
    @include wh(20px, 10px);
}

.intro_Button h1 {
    font-size: 3em;
    color: #E2E2E2;
}

/* instructions */

.instructions {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b1f4e+21,393f7d+38,aa0ce9+55,d4001d+71,ed5901+85,ef9719+98;wmst */
    background: #1b1f4e;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1b1f4e 21%, #393f7d 38%, #aa0ce9 55%, #d4001d 71%, #ed5901 85%, #ef9719 98%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1b1f4e 21%, #393f7d 38%, #aa0ce9 55%, #d4001d 71%, #ed5901 85%, #ef9719 98%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1b1f4e 21%, #393f7d 38%, #aa0ce9 55%, #d4001d 71%, #ed5901 85%, #ef9719 98%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1f4e', endColorstr='#ef9719', GradientType=1);
    /* IE6-9 */
    @include Pos(relative, -56px, 0px, 50);
    @include wh(800px, 50px);
}

.test{
    background: red;
    color: #ffffff;
    float: left;
    margin-right: 10px;
}

/* header bar */

.header {
  // background: rgb(34, 38, 65);
    font-family: $fonts;
    color: $headerColor;
    @include Pos(relative, 0px, 0px, 60);
    @include wh(100%, 31px);
}

.placeArea{
    @include wh(233px, 308px);
    @include Pos(relative, 67px, 132px, 50);
    background: none;
}

.bottom{
   @include Pos(relative, 0px, 0px, 50); 
}

.titles {
    float: left;
    margin-top: -15px;
    padding: 5px 0px 0px 20px;
}

.menu {
    float: right;
    padding: 5px 10px 0px 0px;
}

span{
	font-size: 0.75em;
}

/* non-selected class */
.red,
.traitsButton {
	background: #5B5B5B;
	color: #ffffff;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	padding: 7px;
	transition: background linear .2s;
	outline: none;
	float: left;
}

/* selected class */

.green {
    background: green;
    outline: none;
}



/* buttons */

.btn {
    /* background: #D4001D; */
    border: none;
    margin-right: 1px;
    color: $headerColor;
    display: inline;
    padding: 5px 5px 7px 5px;
    cursor: pointer;
    background: none;
    &:hover {
    
    }
}

.final{
    float: left;
    @include Pos(relative, 0px, 0px, 0);
    @include wh(800px, 600px);
}

.menuButtonBottom{
    @include Pos(relative, -49px, 518px, 0);
    @include wh(282px, auto);
}
.finish{
    padding: 15px;
}

